body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: black;
    background-size: cover; 
    background-repeat: no-repeat;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #555;
}

.navbar a.active {
    background-color: #4CAF50;
}

.content {
    margin-top: 20px;
    text-align: center;
}

.image-container {
    display: inline-block;
    border: 1px solid white;
    padding: 10px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.description-container {
    border: 2px solid white;
    padding: 10px;
    margin-top: 10px;
}

.description-container p {
    color: white;
    margin: 0;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.button-container {
    margin-top: 20px;
}

.button-container button {
    margin: 0 10px;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.button-container button:hover {
    background-color: #45a049;
}
